<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8" />
<title>Horse Informática</title>
<link href="bootstrap.css" rel="stylesheet">

</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="#">Horse Informática</a>
			<ul class="nav">
				<li><a href="#">Smartphones</a></li>
				<li><a href="#">Computadores</a></li>
				<li><a href="#">Acessórios</a></li>
				<input type="text" class="search-query" placeholder="Busca">
			</ul>
		</div>
	</div>
</body>
</html>