<wicket:panel>
	<table class="table table-striped">
		<thead>
			<th class="centralizarTexto">Nome</th>
			<th class="centralizarTexto">Cpf</th>
			<th class="centralizarTexto">Perfil</th>
			<th class="centralizarTexto">Telefone</th>
			<th colspan="1" class="centralizarTexto">Ações</th>
			<th class="centralizarTexto">Selecionar</th>
		</thead>
		<tbody>
			<tr wicket:id="clientes">
				<td class="centralizarTexto"><span wicket:id="nome"></span></td>
				<td class="centralizarTexto"><span wicket:id="cpf"></span></td>
				<td class="centralizarTexto"><select class="larguraDrop" wicket:id="perfil"></select></td>
				<td class="centralizarTexto"><span wicket:id="telefone"></span></td>
				<td class="centralizarTexto"><button class="btn btn-small btn btn-danger" wicket:id="excluir">Excluir</button>
				<button class="btn btn-small btn-primary" wicket:id="atualizar">Atualizar</button>
				<button class="btn btn-small btn btn-info" wicket:id="detalhes">Detalhes</button></td>
				<td class="centralizarTexto"><input type="checkbox" wicket:id="selecionar"/></td>
				</tr>
		</tbody>
	</table>
		<div align="center" wicket:id="paginacao">
	</div>
</wicket:panel>