<wicket:panel>
	<fieldset class="centralizarTexto">
	<legend class="centralizarTexto">Dados Pessoais</legend>
		<label class="label">Nome:</label>
		<label wicket:id="nome"/>
		<label class="label">Sexo:</label>
		<label wicket:id="sexo"/>
		<label class="label">Cpf:</label>
		<label wicket:id="cpf"/>
		<label class="label">Rg:</label>
		<label wicket:id="rg"/>
		<label class="label">Idade:</label>
		<label wicket:id="idade"/>
		<label class="label">Perfil:</label>
		<label wicket:id="perfil"/>
		<label class="label">Tempo de Cliente:</label>
		<label wicket:id="tempoCliente"/>
	</fieldset>
	
	<fieldset class="centralizarTexto">
	<legend class="centralizarTexto">Endereço</legend>
		<label class="label">Logradouro:</label>
		<label wicket:id="logradouro"/>
		<label class="label">Bairro:</label>
		<label wicket:id="bairro"/>
	</fieldset>
	
	<fieldset class="centralizarTexto">
	<legend class="centralizarTexto">Contato</legend>
		<label class="label">Telefone:</label>
		<label wicket:id="telefone"/>
		<label class="label">Email:</label>
		<label wicket:id="email"/>
	</fieldset>
	
</wicket:panel>