<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8" />
<title>Horse Informática</title>
<link href="bootstrap.css" rel="stylesheet">

</head>
<body background="img/bg-horseInfo.png">
	<form class="form-inline" wicket:id="formularioPrincipal">
		<div wicket:id="mensagem"></div>
		<div id="divLoginSystem" align="right">

			<label wicket:for="login">Login:</label> <input type="text"
				wicket:id="login" /> <label wicket:for="senha">Senha:</label> <input
				type="password" wicket:id="senha" /> <input class="btn btn-success"
				type="submit" wicket:id="entrar" value="Entrar" />
		</div>
		<hr />
		<fieldset>

			<legend id="leg">Cadastre-se</legend>
			<div id="divFormRegister" class="container-fluid form-horizontal">

				<div class="control-group">
					<label class="control-label" wicket:for="nome">Nome:</label>
					<div class="controls">
						<input wicket:id="nome" type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" wicket:for="genero">Genero:</label>
					<div class="controls">
						<span wicket:id="genero" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" wicket:for="dataNascimento">Nascimento:</label>
					<div class="controls">
						<input id="inputNasc" maxlength="10" wicket:id="dataNascimento" type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" wicket:for="cpf">CPF:</label>
					<div class="controls">
						<input id="inputCpf" maxlength="11" wicket:id="cpf" type="text" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" wicket:for="loginCadastro">Login:</label>
					<div class="controls">
						<input type="text" wicket:id="loginCadastro" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" wicket:for="senhaCadastro">Senha:</label>
					<div class="controls">
						<input wicket:id="senhaCadastro" type="text" />
					</div>
				</div>

				<input class="btn btn-success offset2" type="submit"
					wicket:id="cadastrar" value="Cadastrar" />
			</div>
		</fieldset>
	</form>
</body>
</html>
